.ImageGallery.customModal
  img.img-responsive
    max-height: 30vH
@media (max-width: 991.98px)
  body
    /*! HEADER */
    header#header
      display: none
    /*@ TEXTAREA */
    [SEQ="NEWSDESCRIPTION"]
      textarea
        height: 10em
    /*# the HELPME container */
    .WordData_Container
      .WordData_Box
        // width: 90%
        // height: 70%
        // transform: translate(-50%, -50%) // original
        transform: translateX(-50%) translateY(calc(-50% - .5px)) // working trick
        text-shadow: none
        // transform: translateX(-50%) translateY(calc(-50% - .5px)) translateZ(0) // further
        form
          h4
            text-shadow: none
          textarea
            font: normal 16px/26px 'Roboto', sans-serif
            min-height: 60vH
            max-height: 70vH
            text-shadow: none
          a
            font: bold 13px/24px 'Roboto', sans-serif
            text-shadow: none
            & span
              text-shadow: none

    .ImageGallery.customModal
      .pp-container
        .pp-cell
          > div
            background-color: #777 !important
            span.custom-close
              color: #f99
              float: right
              padding: .5em
              padding-right: .75em
              font-size: 2em
              text-shadow: 0 1.5px 2px #00000077
              &:hover
                color: #f00
                text-shadow: 0 .5px .5px #000000aa
            h2.h3
              color: white
              text-shadow: 0 1.5px 2px #00000077
            .img-container
              padding-left: 0 !important
              padding-right: 0 !important
              .gallery
                .img
                  &:first-of-type,
                  &:nth-of-type(4n)
                    img
                      transform-origin: left
                  &:nth-of-type(3n+2)
                    img
                      transform-origin: center
                  &:nth-of-type(3n)
                    img
                      transform-origin: right
                  &:hover
                    z-index: 10 !important
                  a
                    img.img-responsive
                      border: 2px solid white !important
                      &:hover
                        background-color: white
                        z-index: 10 !important
                        transform: scale(2.5)
                        box-shadow: 0 2px 2em .1em rgba(0,0,0,1) !important


@media (max-width: 991.98px)
  [bl="form_submit"]
    margin: 0 0 0 calc(50% - ( 30px + 49px + 65px + 8px ) - 47px )
    top: -1px
    border-radius: .25em
    border: none
    background-color: lighten(green, 10%)
    padding: .25em 1.5em .15em
    font: normal 500 14px/2.25 'Roboto', sans-serif
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33)
    text-transform: none
    text-shadow: none
    &:hover
      color: darkgreen
      color: #555
      background-color: lighten(green, 20%)
      border: none
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.38)
  // [bl="form_submit"]
  //   // margin: 0 0 0 12%
  //   font-size: .9em
  //   background-color: lighten(green, 10%)
  //   border-color: lighten(green, 10%)
  //   text-transform: none
  //   &:hover
  //     background-color: green
  //     border-color: green


