@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import 'colors'

/*! **********************************************
 *                  LOCAL CSS
 * ******************************************** */

/**
 *      Classes and placeholders to be extended
 */
%shadowL-Up0
  box-shadow: 0 .1em .25em transparentize($black-clr, 0)
%shadowL-Up1
  box-shadow: 0 .1em .5em transparentize($black-clr, 0.1)
%shadowL-Up3
  box-shadow: 0 .1em .75em transparentize($black-clr, 0.15)
%shadowL-Up4
  box-shadow: 0 .1em 1em transparentize($black-clr, 0.2)

/**
 *      the stylesheet
 */
html,
body
  background: darkslategrey
  font: normal 400 15px/1.5 'Roboto', sans-serif
  div,span,p,input,textarea,a,button
    transition: all 300ms ease-in-out

body
  div,
  span,
  p,
  input,
  textarea,
  a,
  button
    font: normal 400 15px/1.5 'Roboto', sans-serif
    &:focus,
    &:hover,
    &:active,
    &:focus-within
      outline: none
  [class *= "btn"],
  [class *= "form"]
      outline: none
      box-shadow: none !important
  .blNavigation
    @extend %shadowL-Up1
    color: $white-clr
    background: $blue-clr
    // deploying flex-widths
    > div
      width: 50%
      > div
        width: 50%
    .leftNav
      /*@ left-right partition */
      .blLogo
        img
          max-height: 3em
    .rightNav
      /*@ right side partition */
  section.form
    .formdiv
      background: $blue-clr
      form
        margin: 0
        .HelpDiv
          background: #f5f5f5aa
          width: 100%
          resize: none
          border: none
          color: transparentize($black-clr, .1)
          border: 2px solid #f5f5f500
          &:focus-within
            @extend %shadowL-Up3
            border: 2px solid white
            background: #e9e9ff
            color: $black-clr
    .action_set-buttons
      background: $blue-clr
      border: 2px solid $black-clr
      border-radius: 0 0 .5em .5em
      // .btn
      //   box-shadow: inset .15em .1em .1em transparentize($white-clr, 0.7), inset -.15em -.15em .2em transparentize($black-clr, 0.8)